*.asset
*.csproj
*.dwlt
*.meta
*.sln
*.userprefs
Builds
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/guidmapper
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/metadata/
Library/ScriptAssemblies/
Library/ScriptMapper
Temp/
Assets/Sprites
Assets/Sounds
*.keystore
